################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WorkShopReact/.vs/SinglePageAppAndWebApi/v14/.suo
